/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
  &:hover, &:focus {
    color: var(--primary);
    border-color: var(--primary);
  }
}


/* UI Event Classes */

/* Jump animation on the interaction link */
a[href="#interaction"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties */

a[href="#frontend"]{
  position: relative;
}

.scale{
  animation-name: scale; 
  animation-timing-function: cubic-bezier(.25, .95, .5, 1.35); /*hoe de animatie versnelt en vertraagt*/
  animation-duration: 0.9s;
  animation-iteration-count: 1; /*De animatie wordt maar één keer afgespeeld (dus geen loop)*/
}

@keyframes scale{
  0% {
    /*pill*/
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(0.8, 1) translateY(2rem);
  }
  30% {
    transform: scale(0.7, 1.5) translateY(4rem);
  }
  50% {
    /*Cirkel*/
    transform: scale(0.6, 1.5) translateY(6rem);
  }
  57% {
    transform: scale(0.5, 1.5) translateY(8rem);
  }
  64% {
    transform: scale(0.5, 1.5) translateY(10rem);
  }
  100% {
    /*druppel*/
    transform: scale(0.85, 1.3) translateY(12rem);
  }
}