/* Basic style */
* {
  box-sizing: border-box;
}
body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}
h1, h2, p, a {
  color: var(--primary)
}
li {
  font-size: 2em;
  display: inline-block;
  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;
    &:hover, &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Frontend */

.scale{
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

@keyframes scale{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}


/* & */

.flippy{
  animation-name: flippy;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes flippy {
  0% {
    transform: translateY(0) rotateZ(0deg);
  }
  50% {
    transform: translateY(-5rem) rotateZ(360deg); 
  }
  100% {
    transform: translateY(0) rotateZ(720deg);
  }
}

/* development*/

.shake{
  animation-name: shake;
  animation-duration: 0.3s;
  animation-iteration-count: 4;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg); 
  }
  50% {
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/*sprint 5*/

.colorAnimation{
  animation-name: colorAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

@keyframes colorAnimation{
  0%{ color: #ff0000; }
  10%{ color: #ff9900; }
  20%{ color: #ccff00; }
  30%{ color: #33ff00; }
  40%{ color: #00ff66; }
  50%{ color: #00ffff; }
  60%{ color: #0066ff; }
  70%{ color: #3300ff; }
  80%{ color: #cc00ff; }
  90%{ color: #ff0099; }
  100%{ color: #ff0000; }
}

/*Fix*/

a[href="#fix"] {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: -1.8rem;
}

.typing{
  animation-name: typing;
  animation-duration: 0.7s;
}

@keyframes typing{
  0%{
    width: 0ch;
  }
  100%{
    width: 37ch;
  }
}
